{% extends 'layouts/base.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}


<div class="container mt-5">
    {% include 'includes/header.html' %}

    <h3>Your individual conversations</h3>
    <ul id="individualRoomList" class="list-group">
        {% for username, channel_id in channels %}
        <li class="list-group-item">
            <a href="/r/{{channel_id}}">{{username}}</a>
        </li>
        {% endfor %}
    </ul>
    <h3>Your group conversations</h3>
    <ul id="groupRoomList" class="list-group">
        {% for username, channel_id in channels %}
        <li class="list-group-item">
            <a href="/r/{{channel_id}}">{{username}}</a>
        </li>
        {% endfor %}
    </ul>
    <h3>Your friend</h3>
    <ul id="friendList" class="list-group">
        <li class="list-group-item">
            <!--            <a href="/r/{{channel_id}}">{{username}}</a>-->
        </li>
    </ul>
    <h3>Add friend</h3>
    <ul id="addFriend" class="list-group">
        <li class="list-group-item">
            <!--            <a href="/r/{{channel_id}}">{{username}}</a>-->
        </li>
    </ul>
    <h3>Accept friend</h3>
    <ul id="acceptFriend" class="list-group">
        <li class="list-group-item">
            <!--            <a href="/r/{{channel_id}}">{{username}}</a>-->
        </li>
    </ul>



</div>


{% endblock %}