{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--<h1>{{ _('Welcome to my website') }}</h1>-->
<!--<h1>{{ _('Happy new year') }}</h1>-->
<!--<h1>{{ _('hello') }}</h1>-->

<!--<div class="container mt-3">-->
<!--    <h2>Basic Table</h2>-->
<!--    <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Gender</th>-->
<!--            <th>Lastname</th>-->
<!--            <th>Email</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {% for user in users %}-->
<!--        <tr>-->
<!--            <td>{{user.id}}</td>-->
<!--            <td>{{user.name}}</td>-->
<!--            <td>{{user.gender}}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->

<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--<button id="notification" type="button" class="btn btn-primary">Thông báo</button>-->


<!--<div id="chat"></div>-->
<!--<input type="text" id="message"/>-->
<!--<button onclick="sendMessage()">Send</button>-->

<h1>Flask-SocketIO Test</h1>
<p>
    Async mode is: <b>{{ async_mode }}</b><br>
    Current transport is: <b><span id="transport"></span></b><br>
    Average ping/pong latency: <b><span id="ping-pong"></span>ms</b>
</p>
<h2>Send:</h2>
<form id="emit" method="POST" action='#'>
    <input type="text" name="emit_data" id="emit_data" placeholder="Message">
    <input type="submit" value="Echo">
</form>
<form id="broadcast" method="POST" action='#'>
    <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
    <input type="submit" value="Broadcast">
</form>
<form id="join" method="POST" action='#'>
    <input type="text" name="join_room" id="join_room" placeholder="Room Name">
    <input type="submit" value="Join Room">
</form>
<form id="leave" method="POST" action='#'>
    <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
    <input type="submit" value="Leave Room">
</form>
<form id="send_room" method="POST" action='#'>
    <input type="text" name="room_name" id="room_name" placeholder="Room Name">
    <input type="text" name="room_data" id="room_data" placeholder="Message">
    <input type="submit" value="Send to Room">
</form>
<form id="close" method="POST" action="#">
    <input type="text" name="close_room" id="close_room" placeholder="Room Name">
    <input type="submit" value="Close Room">
</form>
<form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
</form>
<h2>Receive:</h2>
<div id="log"></div>
{% endblock %}